# WS_ch05E.ipynb
# WESmith 12/09/22
## WS created this notebook to follow along with the code in the book:
## 'Bioinformatics with Python Cookbook' by Tiago Antao
## Each recipe will have its own notebook, suffixed by A, B, etc.¶

# RECIPE: 
# FINDING ORTHOLOGUES WITH THE ENSEMBL REST API
## also see book code in Chapter05/Orthology.py¶

In [146]:
import requests
import yaml

In [164]:
ensembl_server = 'http://rest.ensembl.org'
# WS can go there in a browser also to learn about commands

In [162]:
def print_d(d): # cWS onvenience function to print a nested dict
    print(yaml.dump(d, default_flow_style=False))

In [163]:
dd = {'a':1, 'b':{'c':100, 'd': {'e':'hi'}, 'f': 1000}}
print_d(dd)

a: 1
b:
  c: 100
  d:
    e: hi
  f: 1000

In [144]:
ptest = pp.PrettyPrinter(depth=4)
ptest.pprint(dd)

{'a': 1, 'b': {'c': 100, 'd': {'e': 'hi'}, 'f': 1000}}

In [130]:
space = ' '
print('hi{}you'.format(5*space))

hi     you

### CREATE SUPPORT FUNCTION FOR A WEB REQUEST

In [4]:
def do_request(server, service, *args, **kwargs):
    url_params = ''
    for a in args:
        if a is not None:
            url_params += '/' + a
    req = requests.get('%s/%s%s' % (server, service, url_params),
                       params=kwargs,
                       headers={'Content-Type': 'application/json'})
    if not req.ok:
        req.raise_for_status()
    return req.json()

### 3) CHECK AVAILABLE SPECIES ON THE SERVER

In [9]:
# 315 species when run on 12/09/22
answer = do_request(ensembl_server, 'info/species')

In [14]:
type(answer['species']) # list of dicts

list

In [15]:
answer['species'][0].keys()

dict_keys(['display_name', 'strain_collection', 'assembly', 'common_name', 'name', 'strain', 'taxon_id', 'accession', 'aliases', 'groups', 'division', 'release'])

In [16]:
for i, sp in enumerate(answer['species']):
    print(i, sp['common_name'])

0 gelada
1 Drill
2 mouse
3 Eurasian red squirrel
4 california sea lion
5 Macaque
6 lyretail cichlid
7 Australian saltwater crocodile
8 horned golden-line barbel
9 Paramormyrops kingsleyae
10 silver-eye
11 Chinook salmon
12 Indian peafowl
13 Black snub-nosed monkey
14 narwhal
15 Crab-eating macaque
16 Collared flycatcher
17 Abingdon island giant tortoise
18 Lesser Egyptian jerboa
19 mouse
20 Upper Galilee mountains blind mole rat
21 Siberian musk deer
22 pig
23 American mink
24 Goat
25 Indian glassy fish
26 American black bear
27 pig
28 sea lamprey
29 lion
30 rabbit
31 Golden snub-nosed monkey
32 round goby
33 spiny chromis
34 Norway rat
35 Arctic ground squirrel
36 huchen
37 naked mole-rat
38 Philippine tarsier
39 helmeted guineafowl
40 red-bellied piranha
41 platypus
42 emu
43 small-eared galago
44 Daurian ground squirrel
45 northern pike
46 European shrew
47 pig
48 golden-collared manakin
49 large flying fox
50 Kakapo
51 tongue sole
52 pig
53 Canada lynx
54 Indian medaka
55 pike-perch
56 donkey
57 Makobe Island cichlid
58 Oriental scops-owl
59 Damara mole rat
60 Argentine black and white tegu
61 eastern happy
62 sailfin molly
63 little spotted kiwi
64 Coquerel's sifaka
65 green anole
66 Western painted turtle
67 elephant shark
68 Japanese medaka HNI
69 alpaca
70 dark-eyed junco
71 goldfish
72 giant panda
73 Burton's mouthbrooder
74 medium ground-finch
75 bicolor damselfish
76 American bison
77 spotted green pufferfish
78 pinecone soldierfish
79 zebra finch
80 guppy
81 fugu
82 lumpfish
83 common wall lizard
84 eastern brown snake
85 dog
86 African ostrich
87 Midas cichlid
88 Japanese medaka HSOK
89 meerkat
90 common carp huanghe
91 Panamanian white-faced capuchin
92 thirteen-lined ground squirrel
93 Yarkand deer
94 chicken
95 Tiger
96 turbot
97 domestic cat
98 gray short-tailed opossum
99 tropical clawed frog
100 sheep
101 channel catfish
102 red fox
103 greater amberjack
104 dog
105 domestic yak
106 tuatara
107 Spotted gar
108 common carp german mirror
109 greater bamboo lemur
110 northern tree shrew
111 Leishan spiny toad
112 mouse
113 Goat
114 mouse
115 gray mouse lemur
116 small Madagascar hedgehog
117 mouse
118 Chinese medaka
119 turkey
120 baker's yeast
121 mouse
122 Blue whale
123 common wombat
124 Chacoan peccary
125 tiger tail seahorse
126 pig
127 western European hedgehog
128 Chinese softshell turtle
129 mouse
130 orange clownfish
131 small tree finch
132 Indian cobra
133 Periophthalmus magnuspinnatus
134 budgerigar
135 Japanese quail
136 Swainson's thrush
137 fruit fly
138 Mexican tetra
139 dingo
140 Pig-tailed macaque
141 Western Lowland Gorilla
142 mouse
143 domestic guinea pig
144 Sumatran orangutan
145 northern spotted owl
146 tammar wallaby
147 chimpanzee
148 Asiatic black bear
149 electric eel
150 Pachon cavefish
151 clown anemonefish
152 New Caledonian crow
153 blue-crowned manakin
154 mouse
155 little brown bat
156 Chinese hamster
157 common carp
158 Sea squirt Ciona savignyi
159 central bearded dragon
160 blunt-snouted clingfish
161 yellow-billed parrot
162 Chinese hamster
163 pink-footed goose
164 West African mud turtle
165 Hoffmann's two-fingered sloth
166 rufous-capped babbler
167 Nile tilapia
168 human
169 greater horseshoe bat
170 coelacanth
171 Golden Hamster
172 common mallard
173 vole
174 steppe mouse
175 blue tilapia
176 coho salmon
177 mainland tiger snake
178 ballan wrasse
179 live sharksucker
180 mouse
181 hybrid cattle
182 American pika
183 vaquita
184 Tasmanian devil
185 Eurasian sparrowhawk
186 shortfin molly
187 turquoise killifish
188 Bengalese finch
189 Ord's kangaroo rat
190 pig
191 Agassiz's desert tortoise
192 Asian bonytongue
193 common kestrel
194 nine-banded armadillo
195 Atlantic cod
196 pig
197 mouse
198 koala
199 golden pheasant
200 western mosquitofish
201 orbiculate cardinalfish
202 Komodo dragon
203 superb fairywren
204 channel bull blenny
205 Ma's night monkey
206 Long-tailed chinchilla
207 golden-line barbel
208 common carp hebao red
209 Atlantic herring
210 pig
211 Ring-necked pheasant
212 Sea squirt Ciona intestinalis
213 mouse
214 bonobo
215 pig
216 rainbow trout
217 yellowtail amberjack
218 pig
219 sperm whale
220 mouse
221 Northern white-cheeked gibbon
222 southern platyfish
223 mangrove rivulus
224 dog
225 Shrew mouse
226 ruff
227 algerian mouse
228 Inshore hagfish
229 brown trout
230 Brazilian guinea pig
231 chicken
232 pig
233 swamp eel
234 European seabass
235 American beaver
236 white-throated sparrow
237 horse
238 Amazon molly
239 zebrafish
240 Gouldian finch
241 Eurasian eagle-owl
242 reedfish
243 African savanna elephant
244 cape rock hyrax
245 ocean sunfish
246 mouse
247 large yellow croaker
248 Mongolian gerbil
249 olive baboon
250 javanese ricefish
251 three-spined stickleback
252 beluga whale
253 C.elegans
254 Okarito brown kiwi
255 Ryukyu mouse
256 Northern American deer mouse
257 dog
258 Japanese medaka HdrR
259 leopard
260 Degu
261 sheep
262 Bolivian squirrel monkey
263 burrowing owl
264 Atlantic salmon
265 Alpine marmot
266 sheepshead minnow
267 gilthead seabream
268 denticle herring
269 Angola colobus
270 mouse
271 mouse
272 Three-toed box turtle
273 zebra mbuna
274 Monterrey platyfish
275 Great spotted kiwi
276 white-tufted-ear marmoset
277 African green monkey
278 chicken
279 naked mole-rat
280 cattle
281 muscovy Duck (domestic type)
282 climbing perch
283 blind barbel
284 common canary
285 blue tit
286 mummichog
287 zig-zag eel
288 Great Tit
289 Goodes thornscrub tortoise
290 Spoon-billed sandpiper
291 blue-ringed sea krait
292 mallard
293 jewelled blenny
294 dog
295 Chinese hamster
296 Common snapping turtle
297 common carp
298 wild yak
299 Arabian camel
300 barramundi perch
301 Domestic ferret
302 pig
303 eastern buzzard
304 Ugandan red Colobus
305 Siamese fighting fish
306 Eastern spot-billed duck
307 pig
308 Sooty mangabey
309 bottlenosed dolphin
310 Polar bear
311 hybrid cattle
312 Chilean tinamou
313 White-headed capuchin
314 golden eagle
315 swan goose

### 3) FIND HGNC DATABASES RELATED TO HUMAN DATA

In [17]:
ext_dbs = do_request(ensembl_server, 'info/external_dbs', 
                     'homo_sapiens', filter='HGNC%')
print(ext_dbs)

[{'description': None, 'display_name': 'HGNC Symbol', 'name': 'HGNC', 'release': '1'}, {'name': 'HGNC_trans_name', 'display_name': 'Transcript name', 'release': '1', 'description': 'transcript name from HGNC'}]

In [155]:
# WS not clear what this info is saying: just that a HGNC db exists?
for k in ext_dbs: # WS list of dicts
    print_d(k)

description: null
display_name: HGNC Symbol
name: HGNC
release: '1'

description: transcript name from HGNC
display_name: Transcript name
name: HGNC_trans_name
release: '1'

### 4) RETRIEVE ENSEMBLE ID FOR THE LCT GENE

In [27]:
answer = do_request(ensembl_server, 'lookup/symbol', 
                    'homo_sapiens', 'LCT')

In [156]:
print_d(answer)

assembly_name: GRCh38
biotype: protein_coding
canonical_transcript: ENST00000264162.7
db_type: core
description: lactase [Source:HGNC Symbol;Acc:HGNC:6530]
display_name: LCT
end: 135837184
id: ENSG00000115850
logic_name: ensembl_havana_gene_homo_sapiens
object_type: Gene
seq_region_name: '2'
source: ensembl_havana
species: homo_sapiens
start: 135787850
strand: -1
version: 10

In [43]:
lct_id = answer['id']
lct_id

'ENSG00000115850'

In [68]:
gene_length = answer['end'] - answer['start'] + 1
gene_length

49335

In [45]:
lct_seq = do_request(ensembl_server, 'sequence/id', lct_id)

In [49]:
lct_seq.keys()

dict_keys(['version', 'molecule', 'id', 'desc', 'query', 'seq'])

In [80]:
for k, v in lct_seq.items():  # WS
    if k == 'seq': continue  # javascript error: see below
    print('{:20s}: {}'.format(k, v))

version             : 10
molecule            : dna
id                  : ENSG00000115850
desc                : chromosome:GRCh38:2:135787850:135837184:-1
query               : ENSG00000115850

In [69]:
# string 49335 bases long: consistent with metadata
len(lct_seq['seq'])

49335

In [71]:
# WS can't print without subindexing: too large; get 
# 'javascript error: too much recursion'
lct_seq['seq'][0:200]

'AACAGTTCCTAGAAAATGGAGCTGTCTTGGCATGTAGTCTTTATTGCCCTGCTAAGTTTTTCATGCTGGGGGTCAGACTGGGAGTCTGATAGAAATTTCATTTCCACCGCTGGTCCTCTAACCAATGACTTGCTGCACAACCTGAGTGGTCTCCTGGGAGACCAGAGTTCTAACTTTGTAGCAGGGGACAAAGACATGTA'

# _____________________________________________

### WS TODO) 
### GET THE GFF FILE FOR THIS LACTASE GENE AND DISPLAY THE EXONs, CDSs, UTRs
### SEE WS_ch05D.ipynb AND WS_experiments.ipynb

# _____________________________________________

### 6) INSPECT OTHER DATABASES KNOWN TO ENSEMBL FOR THIS GENE

In [72]:
lct_xrefs = do_request(ensembl_server, 'xrefs/id', lct_id)

In [92]:
for xref in lct_xrefs:
    print(xref['db_display_name'])
    #print(xref)
    #print_d(xref)  # WS

LRG display in Ensembl gene
Expression Atlas
NCBI gene (formerly Entrezgene)
HGNC Symbol
MIM gene
MIM morbid
Reactome gene
Reactome gene
Reactome gene
Reactome gene
Reactome gene
Reactome gene
Reactome gene
UniProtKB Gene Name
UniProtKB Gene Name
WikiGene

In [82]:
refs = do_request(ensembl_server, 'xrefs/id', lct_id, 
                  external_db='GO', all_levels='1')

In [101]:
#print(lct_id, refs)
for k in refs: # WS
    #print_d(k) # WS  too many entries to print all
    print(k['display_id'], k['linkage_types'], k['description'])

GO:0000016 ['IDA', 'IEA', 'IMP'] lactase activity
GO:0000016 ['IEA'] lactase activity
GO:0000016 ['IBA'] lactase activity
GO:0003824 ['IEA'] catalytic activity
GO:0004336 ['ISS'] galactosylceramidase activity
GO:0004348 ['ISS'] glucosylceramidase activity
GO:0004553 ['IEA'] hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0004553 ['IEA'] hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0004553 ['IEA'] hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0005886 ['TAS'] plasma membrane
GO:0005886 ['IEA'] plasma membrane
GO:0005887 ['TAS'] integral component of plasma membrane
GO:0005975 ['IEA'] carbohydrate metabolic process
GO:0005975 ['IEA'] carbohydrate metabolic process
GO:0005990 ['IDA'] lactose catabolic process
GO:0008152 ['IEA'] metabolic process
GO:0008422 ['IDA', 'ISS'] beta-glucosidase activity
GO:0016020 ['IEA'] membrane
GO:0016021 ['IEA'] integral component of membrane
GO:0016324 ['IEA'] apical plasma membrane
GO:0016787 ['IEA'] hydrolase activity
GO:0016798 ['IEA'] hydrolase activity, acting on glycosyl bonds
GO:0017042 ['IEA'] glycosylceramidase activity
GO:0042803 ['IDA'] protein homodimerization activity
GO:0046477 ['ISS'] glycosylceramide catabolic process
GO:0080079 ['IEA'] cellobiose glucosidase activity
GO:0098591 ['IDA'] external side of apical plasma membrane
GO:0140749 ['IDA'] phlorizin hydrolase activity
GO:1901733 ['IDA'] quercetin catabolic process
GO:2000892 ['IDA'] cellobiose catabolic process
GO:0004553 ['IEA'] hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0004553 ['IEA'] hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0005975 ['IEA'] carbohydrate metabolic process
GO:0008152 ['IEA'] metabolic process
GO:0016787 ['IEA'] hydrolase activity
GO:0016798 ['IEA'] hydrolase activity, acting on glycosyl bonds

### 7) GET THE ORTHOLOGUES FOR THIS GENE ON THE HORSE GENOME

In [102]:
hom_response = do_request(ensembl_server, 'homology/id', lct_id, 
                          type='orthologues', sequence='none')

In [157]:
#print(hom_response['data'][0]['homologies'])
homologies = hom_response['data'][0]['homologies']
for homology in homologies:
    #print(homology['target']['species'])
    if homology['target']['species'] != 'equus_caballus':
        continue
    print_d(homology) # WS function
    #print(homology['taxonomy_level'])
    horse_id = homology['target']['id']

dn_ds: null
method_link_type: ENSEMBL_ORTHOLOGUES
source:
  cigar_line: 351M2D1576M
  id: ENSG00000115850
  perc_id: 85.8329
  perc_pos: 92.2678
  protein_id: ENSP00000264162
  species: homo_sapiens
  taxon_id: 9606
target:
  cigar_line: 1929M
  id: ENSECAG00000018594
  perc_id: 85.7439
  perc_pos: 92.1721
  protein_id: ENSECAP00000016483
  species: equus_caballus
  taxon_id: 9796
taxonomy_level: Boreoeutheria
type: ortholog_one2one

In [114]:
horse_id

'ENSECAG00000018594'

### 8) GET ENSEMBL RECORD FOR horse_id

In [158]:
horse_req = do_request(ensembl_server, 'lookup/id', horse_id)

In [160]:
print_d(horse_req) # WS function

assembly_name: EquCab3.0
biotype: protein_coding
canonical_transcript: ENSECAT00000020097.3
db_type: core
description: lactase [Source:VGNC Symbol;Acc:VGNC:19613]
display_name: LCT
end: 19724999
id: ENSECAG00000018594
logic_name: ensembl
object_type: Gene
seq_region_name: '18'
source: ensembl
species: equus_caballus
start: 19678126
strand: -1
version: 3

### WS TODO) GET THE GENE SEQUENCE, GFF FILE AND PLOT GENE
### COMPARE TO HUMAN