# WS_ch08A.ipynb
# WESmith 04/16/23
## WS created this notebook to follow along chapter 8 code from book
## 'Bioinformatics with Python Cookbook' by Tiago Antao
## Each recipe will have its own notebook, suffixed by A, B, etc.Â¶
## also see book code in Chapter08/Data_Formats.py

In [14]:
from collections import defaultdict
import requests
from Bio import ExPASy, SwissProt
import pandas as pd
import io

In [110]:
# this chapter is out of date for accessing UNIPROT; see REST API and new formats at 
# https://www.uniprot.org/help/api_queries

In [111]:
# WS get the allowed fields from https://www.uniprot.org/help/return_fields
# WS this is the REST API
server = "https://rest.uniprot.org/uniprotkb/search?"

In [112]:
#query = 'reviewed:true+AND+organism_id:9606'
query = 'gene:P53+AND+reviewed:true'  # example in book
params = {'query':query, 
          'format':'tsv',
          'fields':'accession,id,length,mass,organism_name,xref_pdb,xref_hgnc',
          'size':'50'} # size tested on 'organism_id' query; it works

In [113]:
def get_request(server, **kwargs):  # WS a new function
    txt = server
    for j, k in kwargs.items():
        txt += j + '=' + k + '&'
    txt = txt[:-1] # strip off last '&'
    req = requests.get(txt)
    if not req.ok:
        req.raise_for_status()
    return req

In [114]:
req = get_request(server, **params)

In [117]:
uniprot_list = pd.read_table(io.StringIO(req.text))
uniprot_list

,Entry,Entry Name,Length,Mass,Organism,PDB,HGNC
0,P04637,P53_HUMAN,393,43653,Homo sapiens (Human),1A1U;1AIE;1C26;1DT7;1GZH;1H26;1HS5;1JSP;1KZY;1...,HGNC:11998;
1,P10361,P53_RAT,391,43451,Rattus norvegicus (Rat),NaN,NaN
2,P02340,P53_MOUSE,390,43458,Mus musculus (Mouse),1HU8;2GEQ;2IOI;2IOM;2IOO;2P52;3EXJ;3EXL;,NaN
3,Q42578,PER53_ARATH,335,34989,Arabidopsis thaliana (Mouse-ear cress),1PA2;1QO4;,NaN
4,O09185,P53_CRIGR,393,43378,Cricetulus griseus (Chinese hamster) (Cricetul...,NaN,NaN
5,Q8SPZ3,P53_DELLE,387,43034,Delphinapterus leucas (Beluga whale),NaN,NaN
6,Q9TTA1,P53_TUPBE,393,43552,Tupaia belangeri (Common tree shrew) (Tupaia g...,NaN,NaN
7,P61260,P53_MACFU,393,43655,Macaca fuscata fuscata (Japanese macaque),NaN,NaN
8,P56424,P53_MACMU,393,43655,Macaca mulatta (Rhesus macaque),NaN,NaN
9,P79892,P53_HORSE,280,30985,Equus caballus (Horse),NaN,NaN
10,Q29537,P53_CANLF,381,42486,Canis lupus familiaris (Dog) (Canis familiaris),NaN,NaN
11,P56423,P53_MACFA,393,43655,Macaca fascicularis (Crab-eating macaque) (Cyn...,NaN,NaN
12,Q9TUB2,P53_PIG,386,42862,Sus scrofa (Pig),NaN,NaN
13,Q9W678,P53_BARBU,369,41234,Barbus barbus (Barbel) (Cyprinus barbus),NaN,NaN
14,P25035,P53_ONCMY,396,43966,Oncorhynchus mykiss (Rainbow trout) (Salmo gai...,NaN,NaN
15,O12946,P53_PLAFE,366,40619,Platichthys flesus (European flounder) (Pleuro...,NaN,NaN
16,O57538,P53_XIPHE,342,37948,Xiphophorus hellerii (Green swordtail),NaN,NaN
17,O93379,P53_ICTPU,376,41989,Ictalurus punctatus (Channel catfish) (Silurus...,NaN,NaN
18,P79820,P53_ORYLA,352,39753,Oryzias latipes (Japanese rice fish) (Japanese...,NaN,NaN
19,Q92143,P53_XIPMA,342,37958,Xiphophorus maculatus (Southern platyfish) (Pl...,NaN,NaN
20,Q9W679,P53_TETMU,367,41267,Tetraodon miurus (Congo puffer),NaN,NaN